<%= f.error_messages %>

<p class="to">
	<%= f.label :to, 'To' %>
	<%= f.text_field :to %>
</p>
<p class="message">
	<%= f.label :message, "This is what you're doing wrong..." %><br />
	<%= f.text_area :message, :size => '50x4' %>
</p>