<%= f.error_messages %>

<p>
	<%= f.label :to, 'To' %><br />
	<%= f.text_field :to %>
</p>
<p>
	<%= f.label :message, "This is what they're doing wrong" %><br />
	<%= f.text_area :message, :size => '50x10' %>
</p>