<p><%= link_to 'Submit an Entry', new_entry_path %></p>

<%- if !@entry.blank? -%>
	<%= render :partial => 'shared/entry', :object => @entry %>
	
	<div class="comments">
		<h2>Comments</h2>
		<div id="comments">
			<%= render :partial => 'comment', :collection => @entry.comments %>
		</div>
		
		<h2>Add Comment</h2>
		<div id="comment_notice"></div>
		<% remote_form_for :comment, :url => comments_path, :html => {:id => 'comment_form'} do |f| %>
			<p>
				<%= f.label :name, "Name" %><br />
				<%= f.text_field :name %>
			</p>
			<p>
				<%= f.label :message, "Comment" %><br />
				<%= f.text_area :message, :size => '35x5' %>
			</p>
			<span id="simple_captcha_container">
				<%= render :partial => 'shared/simple_captcha' %>
			</span>
			<p>
				<%= f.hidden_field :entry_id, :value => @entry.id %>
				<%= f.submit "Add Comment" %>
			</p>
		<% end %>
	</div><!-- comments -->
<%- end -%>