<div class="entry">
	<p><%= entry.pretty_date %></p>
	<p class="to_box">
		<span class="to_label">To:</span>
		<%=h truncate(entry.to, :length => 80) %>
	</p>
	<div class="message_box">
		<h2 class="message_label replace">This is what you're doing wrong...</h2>
		<p><%=h entry.message %></p>
	</div><!-- message_box -->
	<div class="message_buttons">
		<p>
			<span id="<%= dom_id(entry) %>_negative_vote_link">
				<%= link_to_unless cookies["#{dom_id(entry)}_vote"], 'They\'re doing it wrong', vote_path(:id => entry, :vote => 'negative'), :class => 'remote' %>
			</span>
			<span id="<%= dom_id(entry) %>_negative_vote_count">(<%= entry.negative_vote_count %>)</span>
		</p>
		<p>
			<span id="<%= dom_id(entry) %>_positive_vote_link">
				<%= link_to_unless cookies["#{dom_id(entry)}_vote"], 'Not so bad', vote_path(:id => entry, :vote => 'positive'), :class => 'remote' %>
			</span>
			<span id="<%= dom_id(entry) %>_positive_vote_count">(<%= entry.positive_vote_count %>)</span>
		</p>
		<p><%= link_to pluralize(entry.comments.count, 'comment'), entry_path(entry) %></p>
		<div class="clear"></div>
	</div><!-- message_buttons -->
</div><!-- entry -->