<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= @page_title ||= "This is What You're Doing Wrong" %></title>
	
	<%= stylesheet_link_tag 'default' %>
	<%= javascript_include_tag :defaults %>
	
	<%= yield :header %>
	
</head>

<body>
  <div id="submit_form_holder" style="display:none;">
    <div id="submit_form">
      <div id="new_entry_errors"></div>
      <% remote_form_for :entry, :url => entries_path, :loading => '$("#entry_submit_busy").show();' do |f| -%>
      	<%= render :partial => 'entries/form', :locals => {:f => f} %>
      	<p class="submit_btn">
      	  <span id="entry_submit_busy" style="display:none;"><%= image_tag "comment_busy.gif", :alt => 'Please wait...' %></span>
      	  <%= image_submit_tag 'btn_submit.png' %>
      	</p>
      <% end -%>
      <div class="clear"></div>
    </div><!-- submit_form -->
  </div><!-- submit_form_holder -->
  
	<div id="wrapper">
    <!-- 
    <div class="tab_holder">
      <div class="tab">
        <div class="tab_inner">
          <p><%= link_to 'About', '' %></p>
        </div>
      </div>
    </div>
    -->
		
		<div class="tab_holder">
			<div class="tab">
				<div class="tab_inner">
					<p><%= link_to 'Submit', new_entry_path, :id => 'submit_link' %></p>
				</div><!-- tab_inner -->
			</div><!-- tab -->
		</div>
		
		<div id="header">
			<%= render(:partial => 'users/user_bar') if logged_in? %>
			<%= link_to image_tag('logo.png', :size => '850x134', :alt => "This is what you're doing wrong."), home_path %>
		</div><!-- header -->
		
		<%= render :partial => 'shared/notice_div' %>
		
		<%= yield %>
		
		<div id="footer">
			<p>
				&copy;<%= Date.today.year %> This is What You're Doing Wrong.
				Site created by
				<%= link_to 'Andrew Reifman', 'http://andrewreifman.com', :popup => true %>
				and
				<%= link_to 'Travis Roberts', 'http://travisonrails.com', :popup => true %>
			</p>
		</div><!-- footer -->
	</div><!-- wrapper -->
</body>
</html>
