<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= @page_title ||= "This is What You're Doing Wrong" %></title>
	
	<%= stylesheet_link_tag 'default', 'jquery.tooltip' %>
	<%= javascript_include_tag :defaults, 'jquery.dimensions', 'jquery.tooltip.min' %>
	
	<%= yield :header %>
	
	<!--[if lte IE 7]>
	  <style type="text/css" media="screen">
	    .message_buttons .button #comment_count { min-width:75px; }
	  </style>
	<![endif]-->
	
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<link rel="shortcut icon" href="/images/favicon.png" />
	
</head>

<body>
  <div id="submit_form_holder" style="display:none;">
    <div id="submit_form">
      <div id="new_entry_errors"></div>
      <% remote_form_for :entry, :url => entries_path, :html => {:id => 'entry_submit_form'}, :loading => '$("#entry_submit_busy").show();' do |f| -%>
      	<%= render :partial => 'entries/form', :locals => {:f => f} %>
      	<p class="submit_btn">
      	  <span id="entry_submit_busy" style="display:none;"><%= image_tag "comment_busy.gif", :alt => 'Please wait...' %></span>
      	  <%= image_submit_tag 'btn_submit.png' %>
      	</p>
      <% end -%>
      <div class="clear"></div>
    </div><!-- submit_form -->
  </div><!-- submit_form_holder -->
  
	<div id="wrapper">
		
		<div class="tab_holder">
			<div class="tab">
				<div id="tab_inner" class="tab_inner">
					<p><%= link_to 'Submit', new_entry_path, :id => 'submit_link' %></p>
				</div><!-- tab_inner -->
			</div><!-- tab -->
		</div>
		
		<div id="header">
			<%= render(:partial => 'users/user_bar') if logged_in? %>
			<%= link_to image_tag('logo.png', :size => '850x134', :alt => "This is what you're doing wrong."), home_path %>
		</div><!-- header -->
		
		<%= render :partial => 'shared/notice_div' %>
		
		<!--[if lt IE 7]>
    <div style='border:1px solid #F7941D; background:#FEEFDA; text-align:center; clear:both; height:75px; position:relative; margin:0 0 10px 0;'>
      <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
      <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
        <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>
        <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
          <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>You are using an outdated browser</div>
          <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>For a better experience using this site, please upgrade to a modern web browser.</div>
        </div>
        <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
        <div style='width: 75px; float: left;'><a href='http://www.browserforthebetter.com/download.html' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
        <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
        <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
      </div>
    </div>
    <![endif]-->
		
		<%= yield %>
		
		<div id="footer">
			<p>
				&copy;<%= Date.today.year %> This is What You're Doing Wrong.
				Site created by
				<%= link_to 'Andrew Reifman', 'http://andrewreifman.com', :popup => true %>
				and
				<%= link_to 'Travis Roberts', 'http://travisonrails.com', :popup => true %>.
				Inspired by <%= link_to 'Charlie Maffitt', 'http://charliemaffitt.com', :popup => true %>.
			</p>
		</div><!-- footer -->
	</div><!-- wrapper -->
	
	<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-10189486-1");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>
</html>
